.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.otp-container {
  display: inline-flex;
}

.otp-container .form-control {
  margin-right: 10px;
  width: 3rem !important;
  height: 3em;
  text-align: center;
}
